DATABASE_URL="postgresql://neondb_owner:npg_B28uCRPrDsGt@ep-damp-wave-ah3vg1xk-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
#NODE_ENV=production
NODE_ENV=development
PORT=8000
BETTER_AUTH_SECRET=kYjXzPWR1xa5WsgM8zZ0rDqLDNIde3Vm
BETTER_AUTH_URL=http://localhost:8000 # Base URL of your app
#BETTER_AUTH_URL=https://tutora-server.vercel.app/


FRONTEN_URL=http://localhost:3000 #for local

#FRONTEN_URL=https://mentorix-pi.vercel.app #for production

